@import '../../App.scss';


.second-content {
    .carousel {
      height: 36vh;
  
      .carousel-inner {
        height: 100%;
  
        .carousel-item {
          height: 100%;
  
          img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            animation: zoom 15s linear infinite;
          }
        }
      }
    }

    .carousel-item img {
      width: 100%;
    //   height: 100vh !important;
      object-fit: cover;
    }

  
  }


  .about-first-header{
    text-align: left;
  }

  
 .second--carousel .carousel-caption {
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 73%;
    max-width: 800px;
    max-width: 1200px;
    margin: 0 auto;
    color: $primary-color;
  } 


  
@keyframes zoom {
  from {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1.5, 1.5);
  }
}


.service--text{
  font-weight: 900;
  .backlink{
    text-decoration: none;
    color: $secondary-color;
    transition: all 200ms ease;

    &:hover{
      color: #fff;
    }
  }
}




.about--content {
  display: flex;
  justify-content: space-between; 
  gap: 70px; 
  align-items: flex-start; 
}

.about--content div {
  flex: 1;
}

.sections-bottom-pad{
  margin-bottom: 60px;
}

.about--img {
  flex: 1.5; 
}

.about-img-block {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-img-block {
  width: 100%;
  height: 100%; 
  object-fit: cover;
}


.second-header{
  text-align: right;
}

.about--gap{
  padding-top: 6rem;
}

.text--block{
  background-color: $primary-color;

}

.design-text{

  h1{
    text-align: center;
    background: linear-gradient(90deg, #ffffff, #e2a4b3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}


.about--img{
  height: 600px;
}



// Extra Devices / extra screen (max-width: 1200px)
@media (max-width: 1290px) {
  .about--img{
    height: 600px;
  }

}


  
// Large Devices / Desktops (max-width: 992px)
@media (max-width: 992px) {


  .sections-bottom-pad {
    margin-bottom: 0; 
}

.about--gap {
  padding-top: 5rem;
}


.design-text{
  h1{
    text-align: center;
    background: linear-gradient(90deg, #ffffff, #e2a4b3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

}
  
  /* Media Query for responsiveness */
  @media (max-width: 768px) {


    .about-img-block {
      width: 60%;
      height: 70%; 
      object-fit: cover;
      margin: 0 auto;
    }


    .about--gap {
      padding-top: 4rem;
  }

      .about--content {
    display: flex;
    flex-direction: column;
  }

  .about--img{
    height: 100px;
  }


  .about--img {
    order: 2;
    width: 100%;
    height: auto;
  }

  .about-text {
    order: 1;
    text-align: center;
  }

  .about--content {
    display: flex;
    justify-content: space-between; 
    gap: 10px; 
    align-items: flex-start; 
  }


    .about--content {
      display: flex;
      justify-content: space-between; 
      gap: 10px; 
      align-items: flex-start; 
    }


    .sections-bottom-pad {
      margin-bottom: 0; 
  }

  .design-text{
    h1{
      text-align: center;
      background: linear-gradient(90deg, #ffffff, #e2a4b3);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  }
  


  
// Small Devices / Mobile (max-width: 480px)
@media (max-width: 480px) {
  .about--content {
    display: flex;
    justify-content: space-between; 
    gap: 10px; 
    align-items: flex-start; 
  }


  .sections-bottom-pad {
    margin-bottom: 0; 
}


.about--gap {
  padding-top: 3rem;
}


.about-img-block {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  margin: 0 auto;
}

.design-text{
  h1{
    text-align: center;
    background: linear-gradient(90deg, #ffffff, #e2a4b3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;    
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
  
}


// Small Devices / Mobile (max-width: 480px)
@media (max-width: 428px) {
  .about--content {
    display: flex;
    justify-content: space-between; 
    gap: 10px; 
    align-items: flex-start; 
  }

  .sections-bottom-pad {
    margin-bottom: 0; 
}

.about-img-block {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  margin: 0 auto;
}

.about--gap {
  padding-top: 3rem;
}

.design-text{
  h1{
    text-align: center;
    background: linear-gradient(90deg, #ffffff, #e2a4b3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
}
